<head>
    <title></title>

    <meta name="keywords" content=
            "SQL, Golang, HTML, CSS, Heroku"
    />
    <meta name="description" content=
            "Book management">



    <link rel="icon" type="image/x-icon"
          href="/static/images/drawing-svg-i-hate-passwordv4.ico" />

    <link href="/static/bootstrap3.3.6/css/bootstrap.min.css"
          rel="stylesheet" media="screen">
    <link href="/static/css/site.css"
          rel="stylesheet" media="screen">
    <link rel="stylesheet"
          href=
                  "//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css"
    >



<body>

<div class="container">
    <div class="row">
        <div class="col-md-12">

            <div>
                <h3 class="text-center">Use this form to update an event.
                    Clicking on "Back to the list" does not update anything.</h3>
            </div>
            <form action="/events/update/{{.EventNum.Int64}}" method="post">


                <div style="padding-bottom: 10px">
                    <span class="right20percent">
                        <label for="id_Event_Name"
                               style="display: inline-block;
                               width: 140px;
                               text-align: right;">
                            Event Name:</label>
                    </span>
                    <td>
                    {{ if .EventName.Valid }}
                        <input id="id_Event_Name"
                               maxlength="254"
                               name="Event_Name"
                               type="text"
                               value="{{.EventName.String}}"/>
                    {{ else }}
                        <input id="id_Event_Name"
                               maxlength="254"
                               name="Event_Name"
                               type="text"
                               value="&nbsp;&nbsp;"/>
                    {{ end }}
                    </td>
                </div>

                <div style="padding-bottom: 10px">
                    <span class="right20percent">
                        <label for="id_Start_Dt"
                               style="display: inline-block;
                               width: 140px;
                               text-align: right;">
                            Start Date/Time:</label>
                    </span>
                    <td>
                    {{ if .StartDt.Valid }}
                        <input id="id_Start_Dt"
                               maxlength="254"
                               name="Start_Dt"
                               type="text"
                               value="{{.StartDt.String}}"/>
                    {{ else }}
                        <input id="id_Start_Dt"
                               maxlength="254"
                               name="Start_Dt"
                               type="text"
                               value="&nbsp;&nbsp;"/>
                    {{ end }}
                    </td>
                </div>



                <div style="margin-top:10px">
                    <span class="right30percent">
                        <input type="submit" value="Update Now!" />
                    </span>
                </div>

            </form>

            <div>
                <span class="right30percent">
                    <a class="text-center btn btn-primary"
                       href="/">
                        Back to the main page</a>
                </span>
            </div>




        </div>
    </div>

</div>

<script src="/static/bootstrap3.3.6/js/jquery-2.2.4.min.js">
</script>
<script src="/static/bootstrap3.3.6/js/bootstrap.min.js">
</script>

</body>