<head>
    <title>Add a New Exciting Event</title>

    <meta name="keywords" content=
            "Events"
    />
    <meta name="description" content=
            "manage events in one central location. No more emails back and forth">


<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous">

    <link href="/static/main.css"
          rel="stylesheet" media="screen">


    <link rel="stylesheet"
          href="//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css"
    >



<body>

<div class="container">
    <div class="row">
        <div class="col-md-12">

            <div>
                <h3 class="text-center">Use this form to
                    add a new event.
                    Clicking on "Back to the list"
                    does not create anything.</h3>
            </div>
            <form action="/events/create" method="post">
                <div style="margin-top:10px">

                    <span class="right30percent">
                        <label for="id_Event_Name"
                               class="floating-box">
                            Event Name:</label>
                    </span>
                    <input id="id_Event_Name" maxlength="255"
                           name="Event_Name" type="text" value="" REQUIRED/>
                    <span class="helptext">
                        Event Name (REQUIRED)</span>
                </div>

                <div style="margin-top:10px">
                    <span class="right30percent">
                         <label for="id_Event_Organization"
                                class="floating-box">
                              Organization:</label>
                    </span>
                                <input id="id_Event_Organization"
                                       maxlength="255"
                                       name="Event_Organization"
                                       type="text"
                                       value="" />
                                <span class="helptext">
                                    Organizations that hosts the event
                    </span>
                </div>

                <div style="margin-top:10px">
                    <span class="right30percent">
                         <label for="id_Organization_Street"
                                class="floating-box">
                               Street:</label>
                    </span>
                    <input id="id_Organization_Street"
                           maxlength="255"
                           name="Organization_Street"
                           type="text"
                           value="" />
                    <span class="helptext">
                    Street of the organization
                    </span>
                </div>


                <div style="margin-top:10px">
                    <span class="right30percent">
                         <label for="id_Organization_City"
                                class="floating-box">
                               City:</label>
                    </span>
                    <input id="id_Organization_City"
                           maxlength="255"
                           name="Organization_City"
                           type="text"
                           value="" />
                    <span class="helptext">
                     City of the organization
                    </span>
                </div>




                <div style="margin-top:10px">
                    <span class="right30percent">
                         <label for="id_Organization_State"
                                class="floating-box">
                               State:</label>
                    </span>
                    <input id="id_Organization_State"
                           maxlength="255"
                           name="Organization_State"
                           type="text"
                           value="" />
                    <span class="helptext">
                     State of the organization
                    </span>
                </div>



                <div style="margin-top:10px">
                    <span class="right30percent">
                         <label for="id_Organization_Zip"
                                class="floating-box">
                              Zip:
                         </label>
                    </span>
                    <input id="id_Organization_Zip"
                           maxlength="255"
                           name="Organization_Zip"
                           type="text"
                           value="" />
                    <span class="helptext">
                     Zip of the organization
                    </span>
                </div>



                <div style="margin-top:10px">
                    <span class="right30percent">
                         <label for="id_Contact_Name1"
                                class="floating-box">
                              contact1:
                         </label>
                    </span>
                    <input id="id_Contact_Name1"
                           maxlength="255"
                           name="Contact_Name1"
                           type="text"
                           value="" />
                    <span class="helptext">
                     Name of the contact person1
                    </span>
                </div>


                <div style="margin-top:10px">
                    <span class="right30percent">
                         <label for="id_Contact_Cellphone1"
                                class="floating-box">
                              Cell phone1:
                         </label>
                    </span>
                    <input id="id_Contact_Cellphone1"
                           maxlength="255"
                           name="Contact_Cellphone1"
                           type="text"
                           value="" />
                    <span class="helptext">
                    Cell phone number of the contact person1
                    </span>
                </div>



                <div style="margin-top:10px">
                    <span class="right30percent">
                         <label for="id_Contact_Name2"
                                class="floating-box">
                              Contact2:
                         </label>
                    </span>
                    <input id="id_Contact_Name2"
                           maxlength="255"
                           name="Contact_Name2"
                           type="text"
                           value="" />
                    <span class="helptext">
                     Name of the contact person2
                    </span>
                </div>


                <div style="margin-top:10px">
                    <span class="right30percent">
                         <label for="id_Contact_Cellphone2"
                                class="floating-box">
                              Cell phone2:
                         </label>
                    </span>
                    <input id="id_Contact_Cellphone2"
                           maxlength="255"
                           name="Contact_Cellphone2"
                           type="text"
                           value="" />
                    <span class="helptext">
                    Cell phone number of the contact person2
                    </span>
                </div>


                <div style="margin-top:10px">
                    <span class="right30percent">
                         <label for="id_Start_DT"
                                class="">
                              Starting date/time
                         </label>
                    </span>
                    <input id="id_Start_DT"
                           maxlength="255"
                           name="Start_DT"
                           type="datetime-local"
                           value="" required/>
                    <span class="helptext">
                    Starting date/time (REQUIRED)
                    </span>
                </div>

                <div style="margin-top:10px">
                    <span class="right30percent">
                         <label for="id_End_DT"
                                class="floating-box">
                              Ending date/time
                         </label>
                    </span>
                    <input id="id_End_DT"
                           maxlength="255"
                           name="End_DT"
                           type="datetime-local"
                           value="" required/>
                    <span class="helptext">
                    Ending date/time (REQUIRED)
                    </span>
                </div>

                <div style="margin-top:10px">
                    <span class="right30percent">
                         <label for="id_Speaker"
                                class="floating-box">
                              Speaker
                         </label>
                    </span>
                    <input id="id_Speaker"
                           maxlength="255"
                           name="Speaker"
                           type="text"
                           value=""/>
                    <span class="helptext">
                    Speaker
                    </span>
                </div>

                <div style="margin-top:10px">
                    <span class="right30percent">
                         <label for="id_Title"
                                class="floating-box">
                              Title
                         </label>
                    </span>
                    <input id="id_Title"
                           maxlength="255"
                           name="Title"
                           type="text"
                           value=""/>
                    <span class="helptext">
                    Title
                    </span>
                </div>

                <div style="margin-top:10px">
                    <span class="">
                         <label for="id_Num_Of_Attendees"
                                class="">
                              Num of Attendees
                         </label>
                    </span>
                    <input id="id_Num_Of_Attendees"
                           maxlength="255"
                           name="Num_Of_Attendees"
                           type="number"
                           placeholder="Estimated Numbers of Attendees"
                           value=""
                           min="0"
                           max="99999"
                           step="1"/>
                    <span class="helptext">
                    Estimated Numbers of Attendees
                    </span>
                </div>


                <div style="margin-top:10px">
                    <span class="right30percent">
                         <label for="id_Arranged_By"
                                class="floating-box">
                              Arranged By:
                         </label>
                    </span>
                    <input id="id_Arranged_By"
                           maxlength="255"
                           name="Arranged_By"
                           type="text"
                           value=""/>
                    <span class="helptext">
                    Person who arranged the event
                    </span>
                </div>


                <div style="margin-top:10px">
        <span class="right30percent">
            <input class="btn btn-primary" type="submit" value="Add Now!" />
        </span>
                </div>

            </form>

            <div style="margin-top:10px">
        <span class="right30percent">
            <a class="text-center btn btn-primary"
               href="/">
                Back to the main page</a>
        </span>
            </div>




        </div>
    </div>


</div>

<script src="/static/bootstrap3.3.6/js/jquery-2.2.4.min.js">
</script>
<script src="/static/bootstrap3.3.6/js/bootstrap.min.js">
</script>

</body>