<head>
    <title> Delete an entry.
    </title>

    <meta name="keywords" content=
            "new password manager, hint, password hint, password, username, website name, password manager"
    />
    <meta name="description" content=
            "Free Password Manager based on hints. No math encryption, just human encryption">


    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">

    <link href="/static/css/site.css"
          rel="stylesheet" media="screen">
    <link rel="stylesheet"
          href="//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css"
    >



<body>


<div class="container">
    <div class="row">
        <div class="col-md-12">

            <div>
                <h3 class="text-center">Are you sure that you really want to delete?</h3>
            </div>
            <form action="/events/delete/{{.EventNum.Int64}}" method="post">

                <input type="hidden"  name = "EventNum" value="{{.EventNum.Int64}}"/>


                <div>
        <span class="right20percent">
              <button class="btn btn-primary" type="reset" value="Reset">Reset</button>
        </span>
                </div>


                <div>
        <span class="right20percent">
            <input class="btn btn-primary" type="submit" value="Save" />
        </span>
                </div>

            </form>

            <div>
        <span class="right20percent">
            <a class="text-center btn btn-primary"
               href="/">
                Back to the main page</a>
        </span>
            </div>




        </div>
    </div>

</div>

<script src="/static/bootstrap3.3.6/js/jquery-2.2.4.min.js">
</script>
<script src="/static/bootstrap3.3.6/js/bootstrap.min.js">
</script>

</body>